{% extends "TransitWebBundle:Deployment:index.html.twig" %}

{% block content %}

  <h2>{{ deployment.id }}</h2>

  <h2>{{ deployment.branch }}</h2>

  <p>{{ deployment.project }}</p>

    <pre>
        {% for record in deployment.logs %}
            {{ record.message }}
        {% endfor %}
    </pre>

{% endblock content %}
